<!DOCTYPE html>
<html>
<head>
  <title>RestfulDevise</title>
  <%= stylesheet_link_tag    "restful_devise/application", media: "all" %>
  <%= javascript_include_tag "restful_devise/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
